<div class="section-head text-center">
  <div class="section-title col-md-8 col-md-offset-2">
    <h1 class=" title-heading fit-text " style="font-size: 30px;">Contact Us</h1>

    <p class="tagline">
      <table class="table table-striped" summary="F5 North America Contact Information">
        <colgroup>
          <col width="300">
            <col width="200">
              <col width="400">
        </colgroup>
        <tbody>
          <tr class="even">
            <th colspan="3">
              <h3><a class="offset-anchor" id="north-america">&nbsp;</a>North America</h3>
            </th>
          </tr>
          <tr>
            <td><b>Seattle, WA</b> Corporate HQ
              <br> 401 Elliott Avenue West
              <br> Seattle, WA 98119-4017</td>
            <td>Phone: (206) 272-5555
              <br> Toll-free: (888) 88BIGIP
              <br> Fax: (206) 272-5556
              <br>
              <a href="mailto:info@f5.com" class="externalLink emailLink">E-mail</a></td>
            <td>Support: 1-888-882-7535 or (206) 272-6500
              <br>
              <a class="internalLink" href="https://websupport.f5.com/">Submit a Support Ticket</a></td>
          </tr>
          <tr>
            <td><b>Bellevue, WA</b>
              <br> Sterling Plaza I
              <br> 3535 Factoria Blvd. SE
              <br> Suite 400
              <br> Bellevue, WA, 98006</td>
            <td><a href="mailto:info@f5.com" class="externalLink emailLink">E-mail</a></td>
            <td>Support: 1-888-882-7535 or (206) 272-6500
              <br>
              <a class="internalLink" href="https://websupport.f5.com/">Submit a Support Ticket</a></td>
          </tr>
          <tr>
            <td><b>Boston, MA</b>
              <br> 41 Wellman Street
              <br> Lowell, MA 01851</td>
            <td>Phone: (978) 513-2900
              <br> Fax: (978) 513-2990
              <br>
              <a href="mailto:info@f5.com" class="externalLink emailLink">E-mail</a></td>
            <td>Support: 1-888-882-7535 or (206) 272-6500
              <br>
              <a class="internalLink" href="https://websupport.f5.com/">Submit a Support Ticket</a></td>
          </tr>
          <tr>
            <td><b>Boulder, CO</b>
              <br> 285 Century Place, Suite 150
              <br> Louisville, CO 80027</td>
            <td><a href="mailto:info@f5.com" class="externalLink emailLink">E-mail</a></td>
            <td>Support: 1-888-882-7535 or (206) 272-6500
              <br>
              <a class="internalLink" href="https://websupport.f5.com/">Submit a Support Ticket</a></td>
          </tr>
          <tr>
            <td><b>Chicago, IL</b>
              <br> Two Mid-America Plaza
              <br> Suite 902
              <br> Oak Brook Terrace, IL 60181</td>
            <td><a href="mailto:info@f5.com" class="externalLink emailLink">E-mail</a></td>
            <td>Support: 1-888-882-7535 or (206) 272-6500
              <br>
              <a class="internalLink" href="https://websupport.f5.com/">Submit a Support Ticket</a></td>
          </tr>
          <tr>
            <td><b>New York, NY</b>
              <br> 424 W. 33rd Street
              <br> Suite 530-550
              <br> New York, NY 10001</td>
            <td><a href="mailto:info@f5.com" class="externalLink emailLink">E-mail</a></td>
            <td>Support: 1-888-882-7535 or (206) 272-6500
              <br>
              <a class="internalLink" href="https://websupport.f5.com/">Submit a Support Ticket</a></td>
          </tr>
          <tr>
            <td><b>New York, NY</b>
              <br>
              <b>International Technology Center</b>
              <br> 600 Lexington Avenue
              <br> New York, NY 10022</td>
            <td><a href="mailto:info@f5.com" class="externalLink emailLink">E-mail</a></td>
            <td>Support: 1-888-882-7535 or (206) 272-6500
              <br>
              <a class="internalLink" href="https://websupport.f5.com/">Submit a Support Ticket</a></td>
          </tr>
          <tr>
            <td><b>San Jose, CA</b>
              <br> 90 Rio Robles
              <br> San Jose, CA 95134</td>
            <td>Phone: (408) 273-4800
              <br> Fax: (408) 273-4925
              <br>
              <a href="mailto:info@f5.com" class="externalLink emailLink">E-mail</a></td>
            <td>Support: 1-888-882-7535 or (206) 272-6500
              <br>
              <a class="internalLink" href="https://websupport.f5.com/">Submit a Support Ticket</a></td>
          </tr>
          <tr>
            <td><b>Spokane, WA</b>
              <br> 1322 North Whitman Lane
              <br> Liberty Lake, WA 99019</td>
            <td>Phone: (509) 343-3500
              <br> Fax: (509) 343-3501
              <br>
              <a href="mailto:info@f5.com" class="externalLink emailLink">E-mail</a></td>
            <td>Support: 1-888-882-7535 or (206) 272-6500
              <br>
              <a class="internalLink" href="https://websupport.f5.com/">Submit a Support Ticket</a></td>
          </tr>
          <tr>
            <td><b>Toronto, ON, Canada</b>
              <br> First Canadian Place
              <br> 100 King Street West
              <br> Suite 5600
              <br> Toronto, ON
              <br> M5X 1C9
              <br> Canada
            </td>
            <td><a href="mailto:info@f5.com" class="externalLink emailLink">E-mail</a></td>
            <td>Support: 1-888-882-7535 or (206) 272-6500
              <br>
              <a class="internalLink" href="https://websupport.f5.com/">Submit a Support Ticket</a></td>
          </tr>
          <tr>
            <td><b>Washington, DC</b>
              <br> Two Discovery Square
              <br> 12012 Sunset Hills Road
              <br> Suite 900
              <br> Reston, VA 20190</td>
            <td><a href="mailto:info@f5.com" class="externalLink emailLink">E-mail</a></td>
            <td>Support: 1-888-882-7535 or (206) 272-6500
              <br>
              <a class="internalLink" href="https://websupport.f5.com/">Submit a Support Ticket</a></td>
          </tr>
        </tbody>
      </table>
    </p>
  </div>
  <!-- clear floats -->
  <div class="clearfix"></div>
</div>